html{
    background-color: darkgreen;
}

body{
    height: 100%;
    margin: 0;
    padding: 2% 10%;
}

#logo{
    background-color: grey;
    height: 3.750em;
    width: 11%;
    margin-bottom: 0.938em;
}

.wrapper{
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -33%);
    width: 45%;
    height: 10%;
}

.search{
    display: flex;
}

.searchbox{
    text-align: center;
    width: 88%;
    height: 55px;
    font-size: 1.8em;
    font-family: 'NanumSquare', sans-serif;
    color: dimgrey;
    border-radius: 5px;
    outline: none;
    border-style:none;
    border-collapse:collapse;
    margin-inline-start: 60px;
}


button{
    width: 95px;
    height: 48px;
    font-size: 1.3em;
    background-color: darkgreen;
    border: 0px;
    border-radius: 5px;
    position: relative;
    top: 4px;
    right: 91px;
}

.btn_img{
    height: 34%;
    width: 20%;
    display: block;
    margin: auto;
}

.member{
    position: absolute;
    right: 3%;
    margin-top: 5%;
    width: 40%;
}

a{
    padding: 4% 7%;
    color: white;
    font-family: 'NanumSquare', sans-serif;
    border-radius: 35px;
    margin: 0% 3%;
    text-decoration: none;
}

.main_cp, .cp{
    color: white;
    font-family: 'NanumSquare', sans-serif;
}

.main_cp{
    font-size: 1.8rem;
    margin-bottom: 11%
}



