html{
    height: 100vh;
    padding-bottom: 20%;
}

body{
    margin: 0%;
    height: 100vh;
/*    padding: 2% 10%;*/
}

main{
    height: 100vh;
    padding: 2% 10%;
}

header{
    padding: 0% 10%;
    padding-top: 3%;
    height: 110px;
    background: -webkit-linear-gradient(14deg, rgb(157, 92, 212), rgb(136, 253,255));
    background: -o-linear-gradient(14deg, rgb(157, 92, 212), rgb(136, 253, 255));
    background: -moz-linear-gradient(14deg, rgb(157, 92, 212), rgb(136, 253, 255));
    background: linear-gradient(14deg, rgb(157, 92, 212), rgb(136, 253, 255));
}

#logo{
    height: 60px;
    width: 60px;
    margin-bottom: 2.5%;
}

#logo img{
    height: 60px;
}

.searchbox{
    text-align: center;
    width: 45%;
    height: 40px;
    font-size: 1em;
    font-family: 'NanumSquare', sans-serif;
    color: dimgrey;
    border-radius: 5px;
    outline: none;
    border-style:none;
    box-shadow: 0px 2px 2px 0px grey;
    border-collapse:collapse;
}

button{
    width: 64px;
    height: 35px;
    position: relative;
    top: 3px;
    right: 24px;
    font-size: 1em;
    background-color: #5842c0;
    border: 0px;
    border-radius: 5px;
    margin-left: -4%;
}

.btn_img{
    height: 35%;
    width: 21%;
    display: block;
    margin: auto;
}

.search{
    display: flex;
}

.stampbox{
    height: 9.8%;
    width: 30%;
    position: absolute;
    margin-top: 3.5%;
    right: 10%;
    top: 0;
    padding: 2% 2%;
    border-radius: 5px;
    background-color: white;
    background-color: white;
    box-shadow: 0px 2px 2px 0px grey;
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    color: dimgray;
}

#percent{
    background-color: #5842c0;
    color: white;
    padding: 2px 4px;
    border-radius: 5px;
}

#stamp_off{
    height: 8.5%;
    width: 8.5%;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: 14px;
    left: -10px;
    float: right;
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 grey);
    filter: opacity(.5) drop-shadow(0 0 0 grey);
}


#stamp_on{
    height: 8.5%;
    width: 8.5%;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: 14px;
    left: -10px;
    float: right;
}

select{
    position: relative;
    left: 88%;
    font-size: 1em;
    color: white;
    height: 5%;
    width: 7%;
    margin: 2%;
    padding-left: 1.5%;
    padding-bottom: auto;
    font-family: 'NanumSquare', sans-serif;
    color: dimgrey;
    border-radius: 5px;
    outline: none;
    border: 0px;
    background-color: #5842c0;

}

.list1{
    position: relative;
    height: 47%;
    width: 100%;
    padding: 0;
    z-index: 1;
    margin-bottom: 4%;
}

.list2, .list3{
    position: relative;
    height: 58%;
    width: 100%;
    padding: 0;
    z-index: 1;
    margin: 6% 0%;
}


ul{
  display: block;
  list-style-type: disc;
  text-align: center;
  margin: 0%;
  padding: 0%;
}

li{
    position: relative;
    height: 316px;
    width: 214px;
    display: inline-block;
    z-index: 2;
    list-style-type: none;
    display: inline-block;
    background-color: lightgrey;
    box-shadow: 1px 1px 5px 1px lightgrey;
    margin: 1%;
}


li img{
    height: 99%;
    width: 214px;
}

#ic{
    background-color: white;
    z-index: 4;
    height: 35px;
    width: 35px;
    position: relative;
    bottom: 99%;
    right: 2%;
    margin: 1%;
    border-radius: 50%;
    float: right;
}

#ic img{
    height: 24px;
    width: 24px;
    position: relative;
    top: 5px;
}

.arrow1{
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 43%;
    border-radius: 50%;
    right: -1%;
    z-index: 3;
    background-color: #7969c8;
}

.arrow2, .arrow3 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 35%;
    right: -1%;
    z-index: 3;
    background-color: #5842c0;
}

h4{
    display: block;
    font-size: 1.2em;
    margin-bottom: 3%;
    margin-top: 0%;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 700;
    padding: 9px 18px;
    color: #5842c0;
    font-family: 'NanumSquare', sans-serif;
    display: inline-block;

}

.comment_section{
    position: relative;
    background-color: white;
    height: 40%;
    width: 100%;
    box-shadow: 0px 2px 2px 0px grey;
    border:solid 0.2px lightgrey;
    border-radius: 5px;
}



