html{
  height: 100%
}

body{
  height: 100%;
  margin: 0;
  padding: 2% 10%;
}

main{
  padding-top: 3%;
}

#logo{
  background-color: grey;
  height: 3.750em;
  width: 11%;
  margin-bottom: 0.938em;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -35%);
  text-align: center;
  width: 100%;

}

.wrapper h4{
    font-family: 'NanumSquare', sans-serif;
    color: dimgrey;
    font-size: 1.5em;
    margin: 4%;
    font-weight: 700;
}

input{
  line-height: 45px;
  width: 25%;
  text-align: center;
  font-size: 1.5em;
  color: dimgrey;
  outline: none;
  border-style:none;
  border-bottom:solid 5px #95D904;
  border-collapse:collapse;

}

.wrapper h5{
    font-family: 'NanumSquare', sans-serif;
    color: grey;
    font-size: 1em;
    margin: 4%;
    font-weight: 700;
}

button{

  position: absolute;
  bottom: 54%;
  right: 28%;
  line-height: 45px;
  width: 4%;
  background-color: #95D904;
  color: white;
  border-radius: 30px;
  outline: none;
  border: 0px;
  box-shadow: 0.1px 3px 8px 0.1px lightgrey;
  font-family: 'NanumSquare', sans-serif;
  font-weight: 600;

}
