html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 2% 10%;
}

main{
    padding-top: 3%;
    height: 100%;
}

#logo{
    background-color: grey;
    height: 3.750em;
    width: 11%;
    margin-bottom: 0.938em;
}

.searchbox{
    text-align: center;
    width: 45%;
    height: 2.188em;
    font-size: 1em;
    font-family: 'NanumSquare', sans-serif;
    color: dimgrey;
    border-radius: 30px;
    outline: none;
    border-style:none;
    border-bottom:solid 5px #95D904;
    border-collapse:collapse;
    box-shadow: 0.1px 5px 10px 0.1px lightgrey;
}

button{
    width: 4%;
    font-size: 1em;
    vertical-align: bottom;
    background-color: #95D904;
    border: 0px;
    border-radius: 30px;
    margin-left: -4%;
}

.btn_img{
    height: 55%;
    width: 57%;
    display: block;
    margin: auto;
}


.search{
    display: flex;
}

.stampbox{
    height: 115px;
    width: 35%;
    background-color: grey;
    position: absolute;
    margin-top: 2%;
    right: 10%;
    top: 0;
}

.film_top{
    position: relative;
    width: 100%;
    height: 100%;
}


.poster{
    position: absolute;
    left: 0;
    height: auto;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

img{
    width: 100%;
    height: auto;
}

.info {
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
}

.basic_info {
    position: absolute;
    right: 0;
    height: 35%;
    width: 66%;
    background-color: aqua;
}

#title{
    font-family: 'NanumSquare', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

#division{
    color: dimgrey;
    font-weight: 700;
}

#content{
    color: black;
    font-weight: 500;
}

.basic_info span{
    display: inline-block;
    margin-bottom: 1.2%;
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.2rem;
}

.actor {
    position: absolute;
    right: 0;
    height: 27.5%;
    width: 66%;
    top: 35%;
    background-color: grey;
    margin-top: 4%;
}

.film_bottom{
    position: relative;
    top: -20%;
    height: 100%;
}

.story{
    height: 30%;
    width: 100%;
    background-color: grey;
    margin-bottom: 4%;
}

.photos{
    height: 40%;
    width: 100%;
    background-color: grey;
    margin-bottom: 4%;
}

.comments{
    height: 44%;
    width: 100%;
    background-color: grey;
    margin-bottom: 10%;
}

