html{
    height: 100%;
    background-color: #f6f6f6;
}

body{
    height: 100%;
    margin: 0;
/*    padding: 2% 10%;*/
}


header{
    padding: 0% 10%;
    padding-top: 3%;
    background-color: darkgreen;
    height: 110px;

}

main{
    padding: 5% 15%;
    height: 100%;
}

#logo{
    background-color: white;
    height: 3.750em;
    width: 11%;
    margin-bottom: 2.5%;
}

.searchbox{
    text-align: center;
    width: 45%;
    height: 40px;
    font-size: 1em;
    font-family: 'NanumSquare', sans-serif;
    color: dimgrey;
    border-radius: 5px;
    outline: none;
    border-style:none;
    box-shadow: 0px 2px 2px 0px grey;
    border-collapse:collapse;
}

button{
    width: 70px;
    height: 35px;
    position: relative;
    top: 3px;
    right: 24px;
    font-size: 1em;
    background-color: darkgreen;
    border: 0px;
    border-radius: 5px;
    margin-left: -4%;
}

.btn_img{
    height: 35%;
    width: 22%;
    display: block;
    margin: auto;
}


.search{
    display: flex;
}

.box{
    height: 9.8%;
    width: 30%;
    position: absolute;
    margin-top: 3%;
    right: 10%;
    top: 0;
    padding: 2% 2%;
    border-radius: 5px;
    background-color: white;
    background-color: white;
    box-shadow: 0px 2px 2px 0px grey;
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.05rem;
    font-weight: 600;
    color: dimgray;

}

#ic img{
    height: 35px;
    width: 35px;
    margin: 3%;
    position: relative;
    top: 35%;
    left: -48%;
    float: right;
}


.film_top{
    position: relative;
    width: 100%;
    height: 100%;
}


.poster{
    position: absolute;
    left: 0;
    height: auto;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

img{
    width: 100%;
    height: auto;
}

.info {
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
}

.basic_info {
    position: absolute;
    right: 0;
    height: 35%;
    width: 66%;
}

#title{
    font-family: 'NanumSquare', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

#division{
    color: dimgrey;
    font-weight: 700;
}

#content{
    color: black;
    font-weight: 500;
}

#category{
    font-family: 'NanumSquare', sans-serif;
    font-weight: 700;
    color: dimgray;
}

.basic_info p{
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.2rem;
}

.actor {
    position: absolute;
    right: 0;
    height: 27.5%;
    width: 66%;
    top: 35%;
    background-color: grey;
    margin-top: 4%;
}

.film_bottom{
    position: relative;
    top: -20%;
    height: 100%;
}

.story{
    width: 95%;
    margin-bottom: 4%;
    padding: 3% 2.3%;
    box-shadow: 0px 2px 2px 0px grey;
    border:solid 0.2px lightgrey;
    border-radius: 10px;
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.1rem;
    line-height: 150%;
    background-color: white;
}

.story p{
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.5%;
    color: dimgray;
}

.photos{
    height: 40%;
    width: 100%;
    background-color: grey;
    margin-bottom: 4%;
}

.comments{
    height: 44%;
    width: 100%;
    background-color: grey;
    margin-bottom: 10%;
}

