html{
    height: 100%
}

body{
    height: 100%;
    margin: 0;
    padding: 3% 10%;
}

main{
    padding-top: 3%;
    height: 100%;
}

#logo{
    height: 60px;
    width: 60px;
}

#logo img{
    height: 50px;
}

.wrapper{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    text-align: center;
    width: 100%;
}

.wrapper h4{
    font-family: 'NanumSquare', sans-serif;
    color: dimgrey;
    font-size: 1.5em;
}

input{
    text-align: center;
    font-size: 1.2em;
    width: 25%;
    line-height: 40px;
    padding: 0.2% 0%;
    margin: 0.7% 0%;
    color: dimgrey;
    outline: none;
    border-style:none;
    border-bottom:solid 5px #5842c0;
    border-collapse:collapse;
}

button{
    font-size: 1.3em;
    width: 25%;
    line-height: 45px;
    margin: 3% 0%;
    padding: 0.3% 0%;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 700;
    background: -webkit-linear-gradient(14deg, rgb(157, 92, 212), rgb(136, 253,255));
    background: -o-linear-gradient(14deg, rgb(157, 92, 212), rgb(136, 253, 255));
    background: -moz-linear-gradient(14deg, rgb(157, 92, 212), rgb(136, 253, 255));
    background: linear-gradient(14deg, rgb(157, 92, 212), rgb(136, 253, 255));
    color: white;
    border-radius: 30px;
    outline: none;
    border: 0px;
    box-shadow: 0.1px 5px 10px 0.1px lightgrey;
}



