html{
    height: 100%
}

body{
    height: 100%;
    margin: 0;
    padding: 2% 10%;
}

main{
    padding-top: 3%;
}

#logo{
    height: 60px;
    width: 60px;
}

#logo img{
    height: 50px;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.wrapper h4{
    font-family: 'NanumSquare', sans-serif;
    color: dimgrey;
    font-size: 1.5em;
    margin: 4%;
    font-weight: 700;
}

input{
    line-height: 45px;
    width: 25%;
    text-align: center;
    font-size: 1.5em;
    color: dimgrey;
    outline: none;
    border-style:none;
    border-bottom:solid 5px #5842c0;
    border-collapse:collapse;
}

.wrapper h5{
    font-family: 'NanumSquare', sans-serif;
    color: grey;
    font-size: 1em;
    margin: 6%;
    font-weight: 700;
}


.next, .before{
    text-decoration: none;
    color: dimgrey;
    margin: 3%;
}
